$dark: #181818;
$accent: #e7a834;
$radius: 4px;
$shadow: 0 10px 15px rgba(0,0,0,.15);

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
    outline: none;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    padding: 30px 0;
    min-height: 100vh;
    width: 100%;
    color: $dark;
    background: #fff;
    &__content {
        display: block;
        width: auto;
        max-width: calc(100% - 40px);
        box-shadow: $shadow;
    }
}

.city {
    padding: 50px;
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row wrap;
        min-width: 600px;
    }
    &__column {
        &:first-child {
            flex: 0 0 calc(100% - 200px);
        }
        &:last-child {
            flex: 0 0 180px;
            text-align: center;
        }
    }
    &__name {
        position: relative;
        font-size: 5.8rem;
        font-weight: 700;
        line-height: 1;
        margin: 0 0 20px 0;
        &::after {
            content: '';
            display: block;
            width: 150px;
            height: 4px;
            margin-top: 10px;
            background: $dark;
        }
    }
    &__weather {
        font-size: 2.4rem;
        margin: 0 0 10px 0;
        &--temp {
            margin-right: 10px;
            padding-right: 10px;
            border-right: 1px solid #d9d9d9;
        }
        &--name {
            margin-right: 5px;
        }
        &--description {
            color: $accent;
        }
    }
    &__details {
        margin-top: 30px;
        &__row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-flow: row wrap;
            padding: 10px 0;
            border-top: 1px solid #ebebeb;
            &:last-child {
                padding: 10px 0 0 0;
            }
            span {
                font-size: 1.8rem;
                line-height: 1;
                &:first-child {
                    font-weight: 500;                    
                }
                &:last-child {
                    font-weight: 600;
                    small {
                        display: inline-block;
                        margin-left: 3px;
                        font-size: 1.2rem;
                        font-weight: 400;
                        color: #7a7a7a;
                    }
                }
            }
        }
    }
}

// Loading
.loading {
    display: inline-flex;
    width: 100px;
    height: 0;
    padding-bottom: 100%;
    background-image: url('/images/loading.gif');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

// Forms
.form {
    &__input {
        display: block;
        width: 100%;
        height: 46px;
        padding: 0 15px;
        font-family: 'Montserrat', sans-serif;
        color: $dark;
        border: 0;
        color: $dark;
        background: #fff;
    }
}

.btn {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 46px;
    padding: 0 25px;
    color: $dark;
    background: $accent;
    border: 0;
    border-radius: $radius;
    box-shadow: $shadow;
    cursor: pointer;
    &--search {
        width: 46px;
        padding: 0;
        background-image: url('/images/search_icon.svg');
        background-size: 22px;
        background-position: center center;
        background-repeat: no-repeat;
        transition: .3s background-size ease-in-out;
        &:hover {
            background-size: 24px;
        }
    }
    &--details {
        height: 54px;
        padding: 0 50px;
        font-size: 1.8rem;
        font-weight: 600;
        margin-top: 30px;
    }
}